<script type="text/javascript">
  var azPlugin = (config = {}) => editor => {
    let exCfg = {};
    if (config.withCategory) {
      exCfg = {
        category: 'Basic',
        attributes: { class: 'fa fa-link' },
      };
    }
    var script = function() {
      // alert('Hi');
      // `this` is bound to the component element
      console.log('the element', this);
    };
    var bm = editor.BlockManager;
    console.log('bm :', bm);
    var defaultType = editor.DomComponents.getType("default");
    editor.DomComponents.addType('test-component', {
      model: {
        defaults: {
          script,
          testprop: 1,
        },
        toHTML: function(opt = {}) {
          const model = this;
          console.log('model :', model);
          const comps = model.get('components');
          const content = !comps.length ? model.get('content') : '';
          const cp = comps.models[0]
          const comps2 = cp.get('components');
          // comps2.models.splice(0, 1);
          return cp.toHTML(opt).replace(/[\n\s]*<div class="dummy[^"]*"[^<]*<\/div>[\n\s]*/g, '');
          // console.log('comps, content :', comps, content);
          // console.log('this.get("tagName") :', this.get('tagName'));
          // console.log('this.get("components") :', this.get('components')[0]);
          // return defaultType.model.prototype.toHTML.call(this, opt);
        },
        toJSON: function(opt = {}) {
          console.log('toJSON');
          return defaultType.model.prototype.toJSON.call(this, opt);
        },
        init() {
          console.log('Local hook: model.init');
          this.listenTo(this, 'change:testprop', this.handlePropChange);
          // Here we can listen global hooks with editor.on('...')
        },
        updated(property, value, prevValue) {
          console.log('Local hook: model.updated',
            'property', property, 'value', value, 'prevValue', prevValue);
        },
        removed() {
          console.log('Local hook: model.removed');
        },
        handlePropChange() {
          console.log('The value of testprop', this.get('testprop'));
        }
      },
      view: {
        init() {
          console.log('Local hook: view.init');
        },
        onRender({ el }) {
          customElements.whenDefined('my-component')
          .then((x) => {
            console.log('x :', x);
            var c = el.querySelector('my-component');
            console.log('c :', c);
            c.componentOnReady()
            .then(() => {
              setInterval(() => {
                c.togglePadding()
              }, 10000);
              c.setAttribute("first", "Rick");
              c.setAttribute("middle", "X");
              c.setAttribute("last", "Chen");
            });
          });
          console.log('el :', el.childNodes[0].togglePadding);
          console.log('Local hook: view.onRender');
        },
      },
    });

    editor.TraitManager.addType('href-next', {
      // Expects as return a simple HTML string or an HTML element
      // createLabel({ label }) {
      //   return `<div>
      //     <div>Before</div>
      //     ${label}
      //     <div>After</div>
      //   </div>`;
      // },
      // noLabel: true,
      // Expects as return a simple HTML string or an HTML element
      createInput({ trait }) {
        // Here we can decide to use properties from the trait
        const traitOpts = trait.get('options') || [];
        const options = traitOpts.length ? traitOpts : [
          { id: 'url', name: 'URL' },
          { id: 'email', name: 'Email' },
        ];

        // Create a new element container and add some content
        const el = document.createElement('div');
        el.innerHTML = `
          <select class="href-next__type">
            ${options.map(opt => `<option value="${opt.id}">${opt.name}</option>`).join('')}
          </select>
          <div class="href-next__url-inputs">
            <input class="href-next__url" placeholder="Insert URL"/>
          </div>
          <div class="href-next__email-inputs">
            <input class="href-next__email" placeholder="Insert email"/>
            <input class="href-next__email-subject" placeholder="Insert subject"/>
          </div>
        `;

        // Let's make our content interactive
        const inputsUrl = el.querySelector('.href-next__url-inputs');
        const inputsEmail = el.querySelector('.href-next__email-inputs');
        const inputType = el.querySelector('.href-next__type');
        inputType.addEventListener('change', ev => {
          switch (ev.target.value) {
            case 'url':
              inputsUrl.style.display = '';
              inputsEmail.style.display = 'none';
              break;
            case 'email':
              inputsUrl.style.display = 'none';
              inputsEmail.style.display = '';
              break;
          }
        });

        return el;
      },
      onEvent({ elInput, component, event }) {
        const inputType = elInput.querySelector('.href-next__type');
        let href = '';

        switch (inputType.value) {
          case 'url':
            const valUrl = elInput.querySelector('.href-next__url').value;
            href = valUrl;
            break;
          case 'email':
            const valEmail = elInput.querySelector('.href-next__email').value;
            const valSubj = elInput.querySelector('.href-next__email-subject').value;
            href = `mailto:${valEmail}${valSubj ? `?subject=${valSubj}` : ''}`;
            break;
        }

        editor.getSelected().setStyle({ display: 'flex' })

        component.addAttributes({ href })
        // const attr = component.getAttributes();
        // delete attr.href;
        // component.setAttributes(attr);
      },
    });

    bm.add('test-component', {
      ...exCfg,
      label: 'Test Component',
      // content: '<div data-gjs-type="test-component">Test Component</div>',
      content: `<div data-gjs-droppable=".nothing" data-gjs-type="test-component">
        <my-component data-gjs-droppable=".nothing">
          <div data-gjs-draggable="false" data-gjs-removable="false" data-gjs-copyable="false" style="padding: 2px; background-color: rgba(0, 128, 128, 0.3);" slot="top">
            <div class="dummy" data-gjs-selectable="false" data-gjs-layerable="false" data-gjs-draggable="false" data-gjs-removable="false" style="height: 1px;"></div>
          </div>
          <div data-gjs-draggable="false" data-gjs-removable="false" data-gjs-copyable="false" style="padding: 2px; background-color: rgba(128, 0, 128, 0.3);" slot="body">
            <div class="dummy" data-gjs-selectable="false" data-gjs-layerable="false" data-gjs-draggable="false" data-gjs-removable="false" style="height: 1px;"></div>
          </div>
        </my-component>
      </div>`,
      // content: `<my-component data-gjs-droppable=".nothing" data-gjs-type="test-component">
      //   <div slot="body">
      //     <div>Body01</div>
      //     <div>Body02</div>
      //   </div>
      //   <div slot="top">
      //     <div>Top01</div>
      //     <div>Top02</div>
      //   </div>
      // </my-component>`,
    });

    editor.on('component:update', (component) => {
      const style = component.getStyle();
      console.log('style :', style);
      if (style.display === 'flex') {
        console.log('style.display');
        component.set('icon', '<i class="fa fa-paint-brush"></i>');
      }
    });

    const domComponents = editor.DomComponents;
    domComponents.getTypes().map(type => {
      domComponents.addType(type.id, {
        model: {
          defaults: {
            traits: [
              ...domComponents.getType(type.id).model.prototype.defaults.traits,
              {
                type: 'href-next',
                name: 'href',
                label: 'New href',
              },
            ]
          }
        }
      })
    });
  };
</script>