azwc-nav-button {
  /* Smoother animations */
  & *,
  & *:before,
  & *:after {
   transform: translate3d(0,0,0);
  }
}

// Change to watch in slow motion
$duration: .5s;

$size : 100%;
$toggled-size : 1;

$bg : #274380;
$nav-bg  : #000;
$content-bg : #FFF;

.navicon-button {
	background-color: brown;
	border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 2.09375rem 1rem;
  transition: $duration/2;
  cursor: pointer;
  user-select: none;
  opacity: .8;

  .navicon:before, .navicon:after {
    transition: $duration/2;
  }

  &:hover {
    transition: $duration;
    opacity: 1;

    .navicon:before, .navicon:after {
      transition: $duration/2;
    }

    .navicon:before { top: .825rem; }
    .navicon:after { top: -.825rem; }
  }
}

.navicon {
  position: relative;
  width: 2.5rem;
  height: .3125rem;
  background: $content-bg;
  transition: $duration;
  // border-radius: 1rem;

  &:before, &:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: $content-bg;
    position: absolute;
    z-index: -1;
    transition: $duration $duration/2;
    // border-radius: 1rem;
  }

  &:before { top: .625rem; }
  &:after { top: -.625rem; }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: $duration;
}

/* Minus */
.open { transform: scale($toggled-size); }

/* Arrows */
.open.larr .navicon,
.open.rarr .navicon,
.open.uarr .navicon {
    &:before, &:after {
      width: 1.5rem;
    }

    &:before { transform: rotate(35deg); transform-origin: left top; }
    &:after { transform: rotate(-35deg); transform-origin: left bottom; }
}
.open.uarr { transform: scale($toggled-size) rotate(90deg); }
.open.darr .navicon {
  &:before, &:after {
    width: 1.5rem;
  }

  &:before { transform: rotate(35deg); transform-origin: left top; }
  &:after { transform: rotate(-35deg); transform-origin: left bottom; }
}
.open.darr { transform: scale($toggled-size) rotate(-90deg); }



/* Arrows */
.open.rarr .navicon {
    &:before { transform: translate3d(1em,0,0) rotate(-35deg); transform-origin: right top; }
    &:after { transform: translate3d(1em,0,0) rotate(35deg); transform-origin: right bottom; }
}

/* × and + */
.open.plus,
.open.x {
  .navicon {
    background: transparent;

    &:before { transform: rotate(-45deg); }
    &:after { transform: rotate(45deg); }
  }
}
.open.plus { 
  transform: scale($toggled-size) rotate(45deg) 
}
