// https://stackoverflow.com/questions/27492191/how-to-make-a-chevron-arrow-using-css

azwc-collapse-t1 {
  display: block;
  box-sizing: border-box;
}

// :root {
//   --azwc-collapse-t1-stroke-width: 2px;
//   --azwc-collapse-t1-stroke-length: 10px;
// }

.azac-title-box, .azac-contents-box {
  // border: 1px solid #CCC;
}
.azac-title-box, .azac-contents {
  padding: 12px;
}

.azac-title-input {
  position: absolute;
  opacity: 0;
}

// collapse title
.azac-title-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .azac-title, .azac-icon-sign, .azac-icon-arrow {
    pointer-events: none;
  }
}

.azac-icon-sign {
  position: absolute;
  right: calc(var(--azwc-collapse-t1-stroke-width, 2px) + var(--azwc-collapse-t1-stroke-length, 10px));
  span {
    display: block;
    width: calc(var(--azwc-collapse-t1-stroke-width, 2px) + var(--azwc-collapse-t1-stroke-length, 10px));
    height: var(--azwc-collapse-t1-stroke-width, 2px);
    background-color: #000;
    transition: transform 0.2s ease;
    &:last-of-type {
      transform: rotate(90deg) translateX(calc(-1 * var(--azwc-collapse-t1-stroke-width, 2px)));
    }
  }
}

.azac-icon-arrow {
  position: absolute;
  right: calc(var(--azwc-collapse-t1-stroke-width, 2px) + var(--azwc-collapse-t1-stroke-length, 10px));
  span {
    display: block;
    position: relative;
    width: var(--azwc-collapse-t1-stroke-length, 10px);
    height: var(--azwc-collapse-t1-stroke-length, 10px);
    border-right: var(--azwc-collapse-t1-stroke-width, 2px) solid black;
    border-top: var(--azwc-collapse-t1-stroke-width, 2px) solid black;
    transition: transform 0.2s ease;
    transform: rotate(225deg);
    // margin-right: 0.5em;
  }
}

// collapse contents
.azac-contents-box {
  overflow: hidden;
  // border-top: none;
  // border-bottom: none;
  max-height: 0;
  transition: max-height 0.28s ease-out;
}

azwc-collapse-t1 {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  &:last-of-type .azac-contents-box {
    // border-bottom: 1px solid #CCC;
  }

  .azac-title-input:checked + .azac-title-box {
    .azac-icon-sign {
      span {
        &:first-of-type {
          transform: rotate(180deg);
        }
        &:last-of-type {
          transform: rotate(0) translateY(calc(-1 * var(--azwc-collapse-t1-stroke-width, 2px)));
        }
      }
    }
    .azac-icon-arrow {
      span {
        transform: rotate(135deg);
      }
    }
  }

  .azac-title-input:checked + .azac-title-box + .azac-contents-box {
    max-height: 1000px;
    transition: max-height 0.35s ease-in;
  }


  // // icons transform active
  // &.active {
  //   .azac-icon-sign {
  //     span {
  //       &:first-of-type {
  //         transform: rotate(180deg);
  //       }
  //       &:last-of-type {
  //         transform: rotate(0) translateY(-2px);
  //       }
  //     }
  //   }
  //   .azac-contents-box {
  //     max-height: 1000px;
  //     transition: max-height 0.35s ease-in;
  //   }
  // }
}
