azwc-file-manager {
  display: block;
  position: relative;
}

azwc-file-manager:not(.hydrated) {
  visibility: hidden;
}

.mc-container,
azwc-file-manager::part(mc-container) {
  border-width: 1px;
  border-style: solid;
}
