// @import '../../third-party/canvi/dist/canvi';
@import '../../third-party/canvi/scss/canvi.scss';

azwc-canvi-drawer {
  display: block;
}

azwc-canvi-drawer:not(.hydrated) {
  visibility: hidden;
}
