azwc-dialog {
  display: block;
}

azwc-dialog:not(.hydrated) {
  visibility: hidden;
}

/* The Modal (background) */
azwc-dialog .modal,
azwc-dialog::part(modal) {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

/* Modal Content/Box */
azwc-dialog .modal-content,
azwc-dialog::part(modal-content) {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 2px;
  width: 80%; /* Could be more or less, depending on screen size */
  min-width: 300px;
  max-height: 90%;
  overflow-y: scroll;
}

azwc-dialog .top-modal-content,
azwc-dialog::part(top-modal-content) {
  margin: 15% auto; /* 15% from the top and centered */
}

azwc-dialog .centered-modal-content,
azwc-dialog::part(centered-modal-content) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The Close Button */
azwc-dialog .close,
azwc-dialog::part(close) {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

azwc-dialog .close:hover,
azwc-dialog .close:focus,
azwc-dialog::part(close):hove
azwc-dialog::part(close):focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
