azwc-nav-button {
  /* Smoother animations */
  & *,
  & *:before,
  & *:after {
   transform: translate3d(0,0,0);
  }
}

// Change to watch in slow motion
$duration: .5s;

$size: 100%;
$toggled-size: 1;

$btn-bg: #274380;
$nav-bg: #000;
$content-bg: #FFF;

$size: 4.5rem;

$width: 2.5rem;
$height: .3125rem;

$padding-left: ($size - $width) / 2;
$padding-top: ($size - $height) / 2;

$border-radius: 1rem;

.navicon-button {
	background-color: $btn-bg;
	border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: $padding-top $padding-left;
  transition: $duration/2;
  cursor: pointer;
  user-select: none;
  opacity: .8;

  .navicon:before, .navicon:after {
    transition: $duration/2;
  }

  &:hover {
    transition: $duration;
    opacity: 1;

    .navicon:before, .navicon:after {
      transition: $duration/2;
    }

    .navicon:before { top: .825rem; }
    .navicon:after { top: -.825rem; }
  }
}

.navicon {
  position: relative;
  width: $width;
  height: $height;
  background: $content-bg;
  transition: $duration;
  border-radius: $border-radius;

  &:before, &:after {
    display: block;
    content: "";
    width: $width;
    height: $height;
    background: $content-bg;
    position: absolute;
    z-index: -1;
    transition: $duration $duration/2;
    border-radius: $border-radius;
  }

  &:before { top: .625rem; }
  &:after { top: -.625rem; }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: $duration;
}

/* Minus */
.open { transform: scale($toggled-size); }

/* Arrows */
.open.larr .navicon,
.open.rarr .navicon,
.open.uarr .navicon {
    &:before, &:after {
      width: 1.5rem;
    }

    &:before { transform: rotate(35deg); transform-origin: left top; }
    &:after { transform: rotate(-35deg); transform-origin: left bottom; }
}
.open.uarr { transform: scale($toggled-size) rotate(90deg); }
.open.darr .navicon {
  &:before, &:after {
    width: 1.5rem;
  }

  &:before { transform: rotate(35deg); transform-origin: left top; }
  &:after { transform: rotate(-35deg); transform-origin: left bottom; }
}
.open.darr { transform: scale($toggled-size) rotate(-90deg); }



/* Arrows */
.open.rarr .navicon {
  &:before { transform: translate3d(1rem,0,0) rotate(-35deg); transform-origin: right top; }
  &:after { transform: translate3d(1rem,0,0) rotate(35deg); transform-origin: right bottom; }
}

/* × and + */
.open.plus,
.open.x {
  .navicon {
    background: transparent;

    &:before { transform: rotate(-45deg); }
    &:after { transform: rotate(45deg); }
  }
}
.open.plus { 
  transform: scale($toggled-size) rotate(45deg) 
}
