<script type="text/javascript">
  var azwcTestComponent = (editor, config = {}) => {
    let exCfg = {};
    if (config.withCategory) {
      exCfg = {
        category: 'Basic',
        attributes: { class: 'fa fa-link' },
      };
    }
    editor.DomComponents.addType('test-component', getDefaultCompTypeOptions(editor, {
      defaults: {
        droppable: '.nothing',
      },
    }));

    var bm = editor.BlockManager;
    var bma = editor.BlockManager.getAll().models;
    console.log('bma :', bma);
    bm.add('test-component', {
      ...exCfg,
      label: 'Test Component',
      // content: `<div data-gjs-type="test-component">
      //   <my-component>
      //     <agjc-slot class="az-slot-bg1" slot="top">
      //       <agjc-placeholder></agjc-placeholder>
      //     </agjc-slot>
      //     <agjc-slot class="az-slot-bg2" slot="body">
      //       <agjc-placeholder></agjc-placeholder>
      //     </agjc-slot>
      //   </my-component>
      // </div>`,
      content: `<my-component class="az-card" data-gjs-type="test-component">
        <agjc-slot class="az-slot-bg1" slot="top">

        </agjc-slot>
        <agjc-slot class="az-slot-bg2" slot="body">

        </agjc-slot>
      </my-component>`,
    });

  };
</script>